<div id="loginControl" data-ng-controller="LoginController">

	<div id="headerMain">
		<label for="Bienvenida">Bienvenido al Sistema de Logeo de GATO
			ENCERRADO</label>
	</div>
	<div id="bodyMain">
		<div id="Login">
			<div id="headerLogin">
				<label for="BienvenidaLogin">Sistema de login</label>
			</div>

			<fieldset>
				<legend>Informacion de Ingreso:</legend>
				<div id="showErrorLogIn"></div>

				<label for="username">Username:</label><br> <input type="text"
					data-ng-model="login.username" required="required"></input><br>

				<label for="password">Password:</label><br> <input
					type="password" data-ng-model="login.password" required="required"></input><br>

				<input type="submit" value="Login" data-ng-click="ingresar()"></input>
			</fieldset>
		</div>
		<div id="SignUp">
			<div id="headerSignUp">
				<label for="BienvenidaSignUp">Sistema de Registro</label>
			</div>

			<fieldset>
				<legend>Informacion de Registro:</legend>
				<div id="showErrorSignUp"></div>
				<label for="username">Username:</label><br> <input type="text"
					data-ng-model="signup.username" required="required"></input><br>

				<label for="password">Password:</label><br> <input
					type="password" data-ng-model="signup.password" required="required"></input><br>
				<label for="repeatpassword">Repeat Password</label><br> <input
					type="password" data-ng-model="signup.repeatpassword"
					required="required"></input><br> <input type="submit"
					value="Sign up" data-ng-click="registrar()"></input>
			</fieldset>
		</div>
	</div>
</div>