<div id="changeLabModalWindow" class="modal fade bs-modal-sm" tabindex="-1" role="dialog" 
                    aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content ge-modal-window ge-change-lab-modal-window">
            <h4>{{changeLabAlert}}</h2>
            <p class="ge-modal-window-message">{{changeLabMessage}}</p>
            <span><button class="btn btn-default btn-sm" data-ng-click="confirmLabChange()" data-dismiss="modal">Si</button></span>
            <span><button class="btn btn-default btn-sm" data-ng-click="deny()" data-dismiss="modal">No</button></span>
        </div>
    </div>
</div>