@CHARSET "UTF-8";

.ge-container {
	background-color: silver;   
}

.ge-header {
    width:100%;
    margin-top: -5px;
    padding-top:20px;
    margin-left: 0px;
    background-color: grey;
    border-style: solid;
    border-color: silver;
}

#lab-activo {
	float: right;
}

#ge-header-title{
	margin-left: 20px;
	font-size: 30px; 
}

#ge-user {
	margin-right: 20px;
	font-size: 30px; 
	float: right;
}

.ge-footer {
    width:100%;
    margin-left: 5px;
    bottom:0;
}

.playground {
	margin-bottom: 20px;
	height: 100%;
}

.lab-game {
    margin-left: 15px;
    margin-right: 15px;
	height: 100%;
}

.lab-inventory {
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.hab-display {

	margin-right: 30px;
	padding-top: 40px;
}

.hab-actions-selection {
	background-color: white;
	margin-top: 5px;
    margin-bottom: 5px;
}

.rounded-corners {
	border-radius: 20px;
    padding: 12px; 
}

.rounded-bottom-corners {
	border-bottom-left-radius: 40px;
}

.rounded-corners-img {
	width: 650px;
	height: 280px;
	border-radius: 40px;
}

.banner {
	text-align:center;
	margin-top:10px;
	color: white;
    transition: transform 0.4s;
	background-color: black;
	padding-left: 8px;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 5px;
}

.bannerMessage:first-letter {
	text-transform:capitalize;
}
