@CHARSET "UTF-8";

.ge-container {
}

.ge-header {
    width:100%;
    margin-top: -5px;
    padding-top:20px;
    margin-left: 10px;
    background-color: grey
}

#ge-header-title{
	margin-left: 20px;
	font-size: 30px; 
}

#ge-user {
	font-size: 30px; 
	float: right;
}

.ge-footer {
    width:100%;
    margin-left: 10px;
    bottom:0;
}

.playground {
	padding-bottom:100px;	
}

.lab-selection {
	margin-left: 30px;
	margin-top: 10px;
	width: 200px;
	background-color:silver;
}

.lab-game {
    margin-left: 25px;
	height: 600px;
	background-color:silver
}

.hab-scene {
}

.lab-inventory {
    background-color: white;
}

.hab-display {
	width: 450px;
	height: 300px;
	margin-right: 30px;
	padding-top: 40px;
}

.hab-actions-selection {
	background-color: white;
}

.rounded-corners {
	border-radius: 20px;
    padding: 12px; 
}

.rounded-corners-img {
	border-radius: 40px;
}