@CHARSET "UTF-8";

.playground {
	width: 100%;
	height: 480px;
	margin-bottom: 50px;
}

.lab-selection {
	width: 200px;
	margin-left: 20px;
	background-color:silver
}

.lab-game {
    margin-left: 30px;
	width: 80%;
	height:inherit;
	background-color:silver
}

.hab-scene {
	width: 790px;
	height:inherit;
}

.lab-inventory {
    width: 270px;   
    margin-left: 20px;
}

.hab-display {
	width: 450px;
	background-color: orange;
}

.hab-actions-selection {
	width: 270px;
	margin-left: 10px;
}

.ge-container {
}

.ge-header {
	width:100%;
	margin-top: -5px;
	margin-left: 10px
}

.ge-footer {
	width:100%;
	margin-left: 10px;
}

.rounded-corners {
	border-radius: 20px;
    border: 1px solid black;
    padding: 12px; 
}