<!DOCTYPE html>
<html data-ng-app="ge-main" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Acá hay Gato Encerrado</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">

<!-- Gato Encerrado CSS -->
<link href="css/gato_encerrado.css" rel="stylesheet" type="text/css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
			      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
			    <![endif]-->
</head>
<body>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-resource.min.js"></script>
	<!-- <script src="node_modules/angular-route/angular-route.min.js"></script> -->
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/ge-controllers.js"></script>
	<script type="text/javascript" src="js/ge-services.js"></script>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>


	<!--  Container -->
	<div class="ge-container container-fluid" data-ng-controller="UserCtrl">
		<!-- After User Selection -->
		<div data-ng-show="userIsSelected">
			<!--  Header -->
			<div class="page-header ge-header rounded-bottom-corners row">

				<!-- Header Title-->
				<gato-encerrado-title></gato-encerrado-title>

			</div>

			<!-- Playground/Body Container -->
			<div class="playground row" data-ng-controller="GameStateCtrl">

				<!-- Fondo de ventana -->
				<div class="lab-game rounded-corners"
					data-ng-controller="LabListCtrl">

					<!-- Lista de Laberintos -->
					<lab-list></lab-list>

					<!-- Ventana de Bienvenida -->
					<welcome-panel data-ng-hide="isLabSelected" class="col-sm-10"></welcome-panel>

					<!-- Ventana de Juego -->
					<div data-ng-show="isLabSelected"
						data-ng-controller="ErrorPanelCtrl" class="col-sm-10">
						<div class="row" data-ng-controller="InventoryAndHabListCtrl">

							<pre-initialization-window></pre-initialization-window>

							<div data-ng-show="isGameInitiated">
								<div data-ng-controller="HabCtrl">
									<!-- Imagen Seleccionada -->
									<hab-scene></hab-scene>
									<!-- Lista de Acciones de la habitacion seleccionada -->
									<actions-list></actions-list>
								</div>

								<!-- Inventario del juego -->
								<item-list></item-list>
							</div>
						</div>
						<error-panel></error-panel>
					</div>

				</div>
				<win-modal-window></win-modal-window>

			</div>

			<!-- Footer -->
			<div class="panel-footer ge-footer row">
				<gato-encerrado-footer></gato-encerrado-footer>
			</div>
		</div>
		<div id="userSelector" data-ng-hide="userIsSelected">
			<select name="user" id="user" 
			data-ng-options="us.nombre for us in userList track by us.id" data-ng-model="user">
			</select>
			<button type="button" class="btn btn-default" data-ng-click="confirmUserChange()">Confirmar Usuario</button><br>
			<div data-ng-show="showError">
				<span id="errorMessage" class="rounded-corners">{{errorMessage}}</span>
			</div>
		</div>
	</div>
</body>
</html>