<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <title>Acá hay Gato Encerrado</title>
	
	    <!-- Bootstrap -->
	    <link href="css/bootstrap.min.css" rel="stylesheet">
	
	    <!-- Gato Encerrado CSS -->
	    <link href="css/gato_encerrado.css" rel="stylesheet">
	
	    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
    </head>
    <body>
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="js/bootstrap.min.js"></script>
	    
	    <div class="ge-container row">
			<div class="page-header ge-header col-sm-3">
		        <h3>Acá hay Gato Encerrado</h3>
		    </div>
	    
		    <div class="playground row col-sm-3">
		
		        <div class="lab-selection col-sm-2">
		            
		            <ul class="nav nav-pills nav-stacked">
		            
		            <!--  Acá va el ng-repeat de Angular para un solo li, reemplaza
		                    los tres <li> que muestran labs
		
		                 <li ng-repeat="laberinto in laberintos">
		                    <p>{{laberinto.name}}</p>
		                 </li>
		                 -->
		                 
						<li class="active"><a href="#">Lab1</a></li>
						<li><a href="#">Lab2</a></li>
						<li><a href="#">Lab3</a></li>
		            </ul>
		        </div>
		        
		        <div class="lab-game row col-sm-2 rounded-corners">
		        
		            <div class="hab-scene row col-sm-2">
		            
		                <div class="hab-display col-sm-2">
                            <h4>Laberinto nombre</h4>
		                    <img class="rounded-corners-img" alt="Imagen de Habitación" src="../resources/images/cueva_hobbit.jpg"> 
		                </div>
		            
		                <div class="col-sm-2 ">
		                
		                    <ul class="nav nav-pills nav-stacked hab-actions-selection rounded-corners">
		            
			                    <!--  Acá va el ng-repeat de Angular para un solo li, reemplaza
			                    los tres <li> que muestran actions
			
			                 <li ng-repeat="accion in acciones">
			                    <p>{{accion.name}}</p>
			                 </li>
			                 -->
				                <li><a href="#">Accion1</a></li>
				                <li><a href="#">Accion2</a></li>
				                <li><a href="#">Accion3</a></li>
		                    </ul>        
		                </div>
		                
		            </div>
		            
		            <div class="lab-inventory col-sm-2 rounded-corners">
		                    <ul class="nav nav-pills nav-stacked ">
		            
		                        <!--  Acá va el ng-repeat de Angular para un solo li, reemplaza
		                        los tres <li> que muestran actions
		    
		                     <li ng-repeat="intem in items">
		                        <p>{{item.name}}</p>
		                     </li>
		                     -->
		                        <li><a href="#">Item1</a></li>
		                        <li><a href="#">Item2</a></li>
		                        <li><a href="#">item3</a></li>
		                    </ul>
		                    <button type="button" class="btn btn-default">Tirar</button>
		            </div>
		            
		        </div>
		        
		    
		    </div>
		
	        
	        <div class="panel-footer ge-footer col-sm-3">
	        
	            <div>
	                <h5>Construcción Interfaces de Usuarios: 2016</h5>
	                <h5>Grupo 3: Jesús Laime - Juan Manuel Rodriguez Defago - Santiago Botta</h5>
	            </div>
	        
	        </div>
        
        </div>
    </body>
</html>